{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Project Details</h2>
        <ol>
          <li><a href="{% url 'portfolio:home' %}">Home</a></li>
          <li><a href="{% url 'portfolio:project_detail' Project.id Project.slug %}">{{Project.slug}}</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              {% for image in Project.images_set.all %}
              <div class="swiper-slide">
                <img src="{{image.img_path}}" alt="{{Project.name}}">
              </div>
              {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>{{Project.name}}</h3>
            <div class="portfolio-description">
              <ul>
                <li><strong>Langauge</strong>: {{Project.primary_language}}</li>
                <li><strong>Primary Framework</strong>: {{Project.primary_framework}}</li>
                <li><strong>Technologies Used</strong>: {{Project.technologies_used}}</li>
                <li><strong><i class="fab fa-github"></i> GitHub Repository</strong>: <a
                    href="{{Project.github_link}}">{{Project.github_link}}</a></li>
                <li><strong><i class="fas fa-web"></i>Website</strong>: <a
                    href="{{Project.website}}">{{Project.website}}</a></li>
              </ul>
              <div class="portfolio-description">
                <h2>Project Information</h2>
                <p>
                  {{Project.project_info}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}